think {
  width: 31%;
}

.header {
  /* display: none; */
}

.q1 {
  width: 31%;
}

.addquote {
  margin-top: -120px;
}

.form {
  float: left;
}

.tab {
  float: right;
}

.input {}

@media (max-width:1267) and (max-with:700px) {
  .q1 {
    width: 100%;
    background-color: green;
  }
}

button {
  background-color: cyan;
  color: green;
}

.body {
  color: black;
  background-color: gray;
}