<p>
  Quote-form Works!
</p>

<div class="container-fluid">
  <div class="row">
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
      <div class="form-group">
        <input type="text" required class="form-control" placeholder=" Quote Housing" [(ngModel)]="newQuote.head" name="head" #head="ngModel" id="head">
      </div>
      <div class="form-group">
        <textarea class="form-control" rows="8" cols="40" placeholder="Type your new quote here" [(ngModel)]="newQuote.body" name="body" #body="ngModel" id="body"></textarea>
      </div>

      <button type="submit" class="btn btn-primary" (click)="addQuote">SubmitQuote</button>

    </form>

  </div>

</div>
